.services {
  background: $white;
  max-width: $maxWidth;
  margin: 0 auto;
  padding-bottom: 116px;
}

.services-title {
  margin-top: (110px);
  margin-bottom: (75px);
  font-family: $ralewayFont;
  font-size: (35px);
  color: $black;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    height: 2px;
    width: (86px);
    background: $black;
    top: (110px);
    left: 50%;
    transform: translateX(-50%);

  }
}

.services-icons {
  display: flex;
  margin-top: 148px;
  padding-left: 34px;
  align-items: baseline;
}

.services-content {
  display: flex;
}

.services-contex {
}

.services-context__title {
  align-self: center;
  font-family: $latoFont;
  font-weight: 600;
  color: $black;
  font-size: (24px);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 34px;
}

.services-context__text {
  padding: 0 16px;
  font-family: $latoFont;
  color: $black;
  font-size: $baseFontSize;
  text-align: center;
}

.svg-icon {
  display: block;
  fill: $blue;
  margin: 0 auto;
  vertical-align: bottom;

  &_tablet {

    width: (75px);
    height: (132px);
  }

  &_gadgets {

    width: (192px);
    height: (149px);
  }

  &_ok2 {
    padding-left: 0 !important;
    width: (116px);
    height: (116px);
  }
}


